<h1>Hello, Admin! Welcome to admin section! (^_^)</h1>

<%= link_to "Manage Users", admin_users_path %><br>
<%= link_to 'Create New Album', new_admin_album_path %><br>
<%= link_to 'Create New Track', new_admin_track_path %><br>